node_modules/
vendor/
build/
dist/
coverage/
.DS_Store
*.log
.env
.env.backup
database/database.sqlite
storage/*.key
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/framework/cache/.gitignore
!storage/logs/.gitignore
!.env.example

